.navbar-form.navbar-left
  .btn-group.btn-group-justified
    .btn-group
      button.btn.btn-default(type='submit', ui-sref='home')
        span.glyphicon.glyphicon-chevron-left
        |  Cancel
    .btn-group
      button.btn.btn-primary(type='submit', ng-click='update()')
        | Save 
        span.glyphicon.glyphicon-ok

.row
  .col-xs-12
    h3 My Profile

.row
  .col-xs-12
    form(role='form', name='editProfileForm', novalidate)
      p {{ editProfileForm.email.$valid }}
      .form-group
        label(for='name') Name
        input.form-control(type='text', id='name', required, ng-model="data.name", placeholder='My name')
      .form-group(ng-class="{ 'has-error': editProfileForm.email.$invalid }")
        label(for='email') Email
        input.form-control(type='email', id='email', name='email', required, ng-model="data.email", placeholder='My email')
      .form-group
        .btn-group.btn-group-justified
          .btn-group
            button.btn.btn-primary(ng-click='update()', ng-disabled='editProfileForm.$pristine || editProfileForm.$invalid')
              | Save 
              span.glyphicon.glyphicon-ok
